{% include "generator/base.html" %}

<h1 class="display-4" style="text-align: center;">Generated Password</h1>
<h2 style="text-align: center; background-color:aquamarine; padding:1rem">{{ password }}</h2>
<div class="row">
    <div class="col" style="display:flex; justify-content:center; align-items:center;flex-direction:column;">
        <a href="" style="text-align: center;margin-bottom:1rem;" class=" btn btn-primary">Refresh</a>
        <a href=" {% url 'home' %}" style="text-align: center;" class=" btn btn-success">Go Back</a>
    </div>
</div>